<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Natality</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/datatables.min.css"/>
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/datatables.min.js"></script>
        <script>
          $(function() {
            $("#navigation").load("/navigation.html");
            document.getElementById("focusdod").focus();
          });
        </script>

        <script>
          function clicked(e)
          {
              if(!confirm('Are you sure?')) {
                  e.preventDefault();
              }
          }
        </script>

        <script>
          $(document).ready( function () {
              var table = $('#example').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                      'csv', 'print'
                  ]
              } );
                        
           
              
              $('#example tbody').on( 'click', 'tr', function () {
                  console.log( table.row( this ).data() );

                  document.getElementById("dbID").value = table.row( this ).data()[0];
                  document.getElementById("updod").value = table.row( this ).data()[1];
                  document.getElementById("upfname").value = table.row( this ).data()[2];
                  document.getElementById("upmname").value = table.row( this ).data()[3];
                  document.getElementById("uplname").value = table.row( this ).data()[4];
                  document.getElementById("upbday").value = table.row( this ).data()[5];
                  document.getElementById("upage").value = table.row( this ).data()[6];
                  document.getElementById("upicd10").value = table.row( this ).data()[7];
                  document.getElementById("upcod").value = table.row( this ).data()[8];
                  document.getElementById("uppod").value = table.row( this ).data()[9];
                  document.getElementById("upbarangay").value = table.row( this ).data()[10];

                  document.getElementById("delID").value = table.row( this ).data()[0];
                  document.getElementById("deldod").value = table.row( this ).data()[1];
                  document.getElementById("delfname").value = table.row( this ).data()[2];
                  document.getElementById("delmname").value = table.row( this ).data()[3];
                  document.getElementById("dellname").value = table.row( this ).data()[4];
                  document.getElementById("delbday").value = table.row( this ).data()[5];
                  document.getElementById("delage").value = table.row( this ).data()[6];
                  document.getElementById("delicd10").value = table.row( this ).data()[7];
                  document.getElementById("delcod").value = table.row( this ).data()[8];
                  document.getElementById("delpod").value = table.row( this ).data()[9];
                  document.getElementById("delbarangay").value = table.row( this ).data()[10];


                  
                 
              } );

              $('#example tbody').on('click', 'tr', function() {
                $('#example tbody > tr').removeClass('selected');
                $(this).addClass('selected');
              });

              

              
             
          } );

         
        </script>
    </head>
    <body>
      
      <div id="navigation"></div>

      <div class="container-fluid p-3 my-3 border">
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Submit')" id="defaultOpen">Submit</button>
            <button class="tablinks" onclick="openCity(event, 'Update')">Update</button>
            <button class="tablinks" onclick="openCity(event, 'Delete')">Delete</button>
          </div>


          <div id="Submit" class="tabcontent" >
            <h1>Submit</h1>

            
            <form action="/quotes" method="POST">

              <div class="input-holder">
                <div class="inputs">
                  <label for="focusdod">Date of Death</label>
                  <input type="date" placeholder="Date of Death" name="dateOfDeath" id="focusdod">
                </div>
                <div class="inputs">
                  <label for="subfname">First Name</label>
                  <input type="text" placeholder="First Name" name="fname" id="subfname">
                </div>
                <div class="inputs">
                  <label for="submname">Middle Name</label>
                  <input type="text" placeholder="Middle Name" name="mname" id="submname">
                </div>
                <div class="inputs">
                  <label for="sublname">Last Name</label>
                  <input type="text" placeholder="Last Name" name="lname" id="sublname">
                </div>
                <div class="inputs">
                  <label for="subbday">Date of Birth</label>
                  <input type="date" placeholder="Birthday" name="bday" id="subbday">  
                </div>
                <div class="inputs">
                  <label for="subage">Age</label>
                  <input type="text" placeholder="Age" name="age" id="subage">  
                </div>
                <div class="inputs">
                  <label for="subicd10">ICD-10 Code</label>
                  <input type="text" placeholder="ICD-10 Code" name="icd10" id="subicd10">  
                </div>
                <div class="inputs">
                  <label for="subcod">Cause of Death</label>
                  <input type="text" placeholder="Cause of Death" name="causeofdeath" id="subcod">  
                </div>
                <div class="inputs">
                  <label for="subpod">Place of Death</label>
                  <input type="text" placeholder="Place of Death" name="placeofdeath" id="sudpod">  
                </div>
                <div class="inputs">
                  <label for="subbarangay">Barangay</label>
                  <input type="text" placeholder="Barangay" name="barangay" id="subbarangay">  
                </div>
                
                
                
              </div>
              
                  
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-size">Submit</button>
              </div>
                
            </form>
          </div>
          
          <div id="Update" class="tabcontent">
            <h1>Update</h1>

            <form action="/update" method="POST">

              <div class="input-holder">
                <input style="display: none;" type="text" placeholder="ID" name="id" id="dbID">

                <div class="inputs">
                  <label for="updod">Date of Death</label>
                  <input type="date" placeholder="Date of Death" name="dateOfDeath" id="updod">  
                </div>
                <div class="inputs">
                  <label for="upfname">First Name</label>
                  <input type="text" placeholder="First Name" name="fname" id="upfname">
                </div>
                <div class="inputs">
                  <label for="upmname">Middle Name</label>
                  <input type="text" placeholder="Middle Name" name="mname" id="upmname">  
                </div>
                <div class="inputs">
                  <label for="uplname">Last Name</label>
                  <input type="text" placeholder="Last Name" name="lname" id="uplname">  
                </div>
                <div class="inputs">
                  <label for="upbday">Date of Birth</label>
                  <input type="date" placeholder="Birthday" name="bday" id="upbday">  
                </div>
                <div class="inputs">
                  <label for="upage">Age</label>
                  <input type="text" placeholder="Age" name="age" id="upage">  
                </div>
                <div class="inputs">
                  <label for="upicd10">ICD-10 Code</label>
                  <input type="text" placeholder="ICD-10 Code" name="icd10" id="upicd10">  
                </div>
                <div class="inputs">
                  <label for="upcod">Cause of Death</label>
                  <input type="text" placeholder="Cause of Death" name="causeofdeath" id="upcod">  
                </div>
                <div class="inputs">
                  <label for="uppod">Place of Death</label>
                  <input type="text" placeholder="Place of Death" name="placeofdeath" id="uppod">  
                </div>
                <div class="inputs">
                  <label for="upbarangay">Barangay</label>
                  <input type="text" placeholder="Barangay" name="Barangay" id="upbarangay">  
                </div>
                
              </div>

              
              <div class="form-group">
                <button type="submit" class="btn btn-warning btn-size" onclick="clicked(event)">Update</button>
              </div>
              
            </form>
          </div>
          
          <div id="Delete" class="tabcontent">
            <h1>Delete</h1>

            <form action="/delete" method="POST">
              <div class="input-holder">
                <input style="display: none;" type="text" placeholder="ID" name="delid" id="delID">

                <div class="inputs">
                  <label for="deldod">Date of Death</label>
                  <input type="date" placeholder="Date of Death" name="dateOfDeath" id="deldod">  
                </div>
                <div class="inputs">
                  <label for="delfname">First Name</label>
                  <input type="text" placeholder="First Name" name="fname" id="delfname">  
                </div>
                <div class="inputs">
                  <label for="delmname">Middle Name</label>
                  <input type="text" placeholder="Middle Name" name="mname" id="delmname">  
                </div>
                <div class="inputs">
                  <label for="dellname">Last Name</label>
                  <input type="text" placeholder="Last Name" name="lname" id="dellname">  
                </div>
                <div class="inputs">
                  <label for="delbday">Date of Birth</label>
                  <input type="date" placeholder="Birthday" name="bday" id="delbday">  
                </div>
                <div class="inputs">
                  <label for="delage">Age</label>
                  <input type="text" placeholder="Age" name="age" id="delage">  
                </div>
                <div class="inputs">
                  <label for="delicd10">ICD-10 Code</label>
                  <input type="text" placeholder="ICD-10 Code" name="icd10" id="delicd10">  
                </div>
                <div class="inputs">
                  <label for="delcod">Cause of Death</label>
                  <input type="text" placeholder="Cause of Death" name="causeofdeath" id="delcod">  
                </div>
                <div class="inputs">
                  <label for="delpod">Place of Death</label>
                  <input type="text" placeholder="Place of Death" name="placeofdeath" id="delpod">  
                </div>
                <div class="inputs">
                  <label for="delbarangay">Barangay</label>
                  <input type="text" placeholder="Barangay" name="Barangay" id="delbarangay">  
                </div>
              

              </div>  
              
              <div class="form-group">
                <button type="submit" class="btn btn-danger btn-size" onclick="clicked(event)">Delete</button>
              </div>
              
            </form>
          </div>
      
      </div>
    
      <div class="container-fluid p-3 my-3 border" style="width: 100%;">
        <table style="width: 100%;" id="example" class="display">
          <thead>
            <tr>
              <th style="display: none;">ID</th>
              <th>Date of Death</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Birthday</th>
              <th>Age</th>
              <th>ICD-10 Code</th>
              <th>Cause of Death</th>
              <th>Place of Death</th>
              <th>Barangay</th>
            </tr>
          </thead>
          <tbody>
            
            <% for(var i = 0; i < quotes.length; i++) {%>
            <tr>
              <td style="display: none;"><%= quotes[i]._id %></td>
              <td><%= quotes[i].dateOfDeath %></td>
              <td><%= quotes[i].fname %></td>
              <td><%= quotes[i].mname %></td>
              <td><%= quotes[i].lname %></td>
              <td><%= quotes[i].bday %></td>
              <td><%= quotes[i].age %></td>
              <td><%= quotes[i].icd10 %></td>
              <td><%= quotes[i].causeofdeath %></td>
              <td><%= quotes[i].placeofdeath %></td>
              <td><%= quotes[i].barangay %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

    
      <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        </script>

<script>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>



        
    </body>
</html>
